# Binary
ligma

# Test coverage
coverage.out
coverage.html

# Dependencies
vendor/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
*~

# out files
*.out


# OS
.DS_Store
Thumbs.db

# Cursor and BMAD
.cursor
_bmad